@import './normalize.css';

body{
	font:18px Helvetica;
	background:#151B22;
	color:#fff;
}
#page{
	height:100%;
}
section{
	height:100%;
	width:100%;
	display:-webkit-flex;
	display:flex;
	flex-direction:column;
	text-align:center;
	min-width:320px;
}

header{
	-webkit-flex:1;
	flex:1;
	height:50px;
	line-height:50px;
	background:#FF7539;
}
#main{
	display:-webkit-flex;
	display:flex;
	margin:0;
	padding:0;
	background:#004444;
	justify-content:center;
}
article{
	-webkit-flex:1;
	flex:1;
	height:500px;
	background:#223334;
	display:flex;
	justify-content:center;
  	align-items: center;
}
nav{
	width:120px;
	order:-1;
	background:#22ddda;
	height:200px;
	display:flex;
	justify-content:center;
  	align-items: center;
}
aside{
	width:150px;
	background:#99ddaa;
	height:500px;
	display:flex;
	justify-content:center;
  	align-items: center;
}
footer{
	-webkit-flex:1;
	flex:1;
	height:50px;
	line-height:50px;
	background:#FF4444;
}


/***********骰子布局**************/
.face{
	margin: 16px;
	padding: 4px;
	background-color: #e7e7e7;
	width: 104px;
	height: 104px;
	object-fit: contain;
	box-shadow:
	inset 0 5px white, 
	inset 0 -5px #bbb,
	inset 5px 0 #d7d7d7, 
	inset -5px 0 #d7d7d7;
	border-radius: 10%;
}
.first-face {
	display: flex;
	justify-content: center;
	align-items: center;
}
.second-face{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.second-face .pip:nth-child(2){
	/*align-self:flex-end;*/
}
.pip {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 4px;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}